{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendence reports</title>
</head>
<body>
    <h1>Attendance Reports</h1>
    <form method="post">
        {% csrf_token %}
        {% for report in reports %}
            <input type="checkbox" name="reports" value="{{ report.id }}" id="report_{{ report.id }}">
            <label for="report_{{ report.id }}">{{ report.fac_id }}  - {{ report.reason }}</label><br>
        {% endfor %}
        <button type="submit">Grant Access</button>
    </form>
</body>
</html>
